#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 25em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-layout {
  display: flex;
  margin-top: 70px;
}

.home-content {
  margin-left: 220px;
  padding: 20px;
  width: 100%;
}

/* --------------------------------------------- */
/* -------- PANEL DE CONFIGURACIÓN (BOTTOM-LEFT) */
/* --------------------------------------------- */

.settings-panel {
  position: absolute;
  bottom: 20px;
  left: 20px;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);

  padding: 12px 15px;
  border-radius: 12px;
  width: 170px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  z-index: 999; /* por encima de todo */
}

.settings-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: left;
  padding: 5px 0;
}

.settings-btn:hover {
  color: #2ca6c6; /* curious-blue */
}

.settings-msg {
  margin-top: 8px;
  font-size: 0.85rem;
  color: #ed4958; /* mandy */
}

