.settings-panel-fixed {
  position: fixed;
  left: 0px;
  bottom: 0px;

  width: 250px;   
  height: 85px;  
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: transparent;
  backdrop-filter: blur(8px);
  border-radius: 2px;;
  z-index: 999999;
}

.settings-btn {
  width: 48px;
  height: 48px;

  background: transparent;
  border: none;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.2s ease;
}

.settings-btn:focus,
.settings-btn:active,
.settings-btn:focus-visible {
  outline: none;
  border: none;
}

.settings-btn:hover {
  transform: scale(1.5);
}

.settings-btn svg {
  color: white;
  width: 28px;
  height: 28px;
}

.settings-dropdown {
  position: fixed;
  bottom: 95px;
  left: 0px;

  width: 225px;
  background: rgba(19, 38, 58, 0.85);
  backdrop-filter: blur(10px);

  padding: 14px;
  border-radius: 6px;
  border-top: 3px solid rgba(255, 255, 255, 0.08);
  border-bottom: 3px solid rgba(255, 255, 255, 0.08);
  border-left: none;
  border-right: none;;

  display: flex;
  flex-direction: column;
  gap: 10px;

  z-index: 999999;
}

.lang-option {
  background: rgba(255, 255, 255, 0.18);
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.lang-option:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.32);
}

.lang-option.active {
  background: #b61a2e;
}

.help-toast {
  position: fixed;
  left: 55%;
  bottom: 40px;

  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  padding: 12px 20px;
  border-radius: 12px;
  color: white;
  font-size: 0.95rem;

  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  animation: fadeInOut 2.5s forwards;
  z-index: 999999;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, 20px); }
  15% { opacity: 1; transform: translate(-50%, 0); }
  85% { opacity: 1; }
  100% { opacity: 0; transform: translate(-50%, 20px); }
}
