:root {
  --bg-main: #0e1521;
  --header-bg: #1c1a21;
  --accent: #b61a2e;
  --text: rgba(255, 255, 255, 0.87);
   --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
    --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: block; /* Restauramos el comportamiento normal */
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


/* Tablets (768px en adelante) */
@media (min-width: 768px) {
  :root {
    font-size: 15px;
  }
  
  h1 {
    font-size: 2.2em;
  }
}

/* Laptops pequeñas (1024px en adelante) */
@media (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
  
  h1 {
    font-size: 2.8em;
  }
}